<!DOCTYPE html>
<html>
    <head>
        <title>Hermes - Images Preprocessing</title>
        <link rel="stylesheet" href = "{{ url_for('static', path='/styles/style1.css') }}">
        <link rel="icon" href = "{{ url_for('static', path='/images/icon.png') }}">
    </head>
<body>
    <header>
        <h1>Hermes</h1>
        <img class="banner" src="{{ url_for('static', path='/images/banner.jpeg') }}" alt="Hermes banner">
    </header>
    <main style="margin-top: 100px">
        <div>
            <img class="main" src="/static/data/images/{{ img_path }}" alt="Hermes banner">
            <ul class="info">
                {% for k, v in info.items() %}
                <li><span>{{ k }}</span>: {{ v }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="navigator">
            <a href="/index/{{ prev_id }}" class="previous">&laquo; BACK</a>
        </div>
    </main>
</body>
</html>